html{
  background-color: black;
}
body{
  background-color: black;
  color: white;
}
.dice{
    text-align: center;
}
.dice img{
  width: 150px;
}
.container{
  padding: 3% 15% 7%;
}
.row{
  padding: 3% 0 3% 0;
}
p{
  font-size: 1.2rem;
}
